@font-face {
    font-family: "HandelGothic";
    src: url("../Font/Handel-Gothic-D-Bold.otf") format("opentype");
}

body {
    font-family: "HandelGothic";
    background-image: url(../images/space_background.jpg);
    background-size: cover;
    color: white;
}

h1 {
    text-align: center;
    font-size: 50px;
    padding: 30px;
}

#welcome {
    text-align: center;
    font-size: 30px;
    margin-top: 60px;

}

#speaker-div {
    display: none;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    outline-style: double;
    outline-color: red;
    outline-width: 5px;
    border-radius: 20px;
    color: red;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-right: 550px;
    margin-left: 550px;
    padding: 5px;

}

#speaker {
    font-size: 30px;
    margin: 10px;
    
}

#current-sp {
    margin: 0px;
}

#change-speaker {
    margin-bottom: 20px;
}

#players {
    display: flex;
    text-align: center;
}

.player-card {
    color: white;
    background-color: black;
    outline-width: 10px;
    outline-style: solid;
    font-size: 20px;
    border-radius: 15px 50px 15px 50px;
    flex: 1;
    margin: 50px;
}

#add-point0, #add-point1, #add-point2, #add-point3, #add-point4, #add-point5 {
    margin-bottom: 50px;
    margin-right: 20px;
    background-color: white;
    border: none;
    font-size: 20px;
    border-radius: 8px;
    font-family: "HandelGothic";
    padding: 8px;
}

#subtract-point0, #subtract-point1, #subtract-point2, #subtract-point3, #subtract-point4, #subtract-point5 {
    margin-bottom: 50px;
    margin-right: 20px;
    background-color: white;
    border: none;
    font-size: 20px;
    border-radius: 8px;
    font-family: "HandelGothic";
    padding: 8px;
}


#start-button {
    background-color: white;
    border: none;
    font-size: 30px;
    border-radius: 12px;
    font-family: "HandelGothic";
    padding: 10px;

}

#change-speaker {
    background-color: red;
    border: none;
    font-size: 20px;
    border-radius: 12px;
    font-family: "HandelGothic";
    padding: 10px;
}

