body {
    background-image: url(../images/space_background.jpg);
    background-size: cover;
    color: white;
}

h1 {
    text-align: center;
    font-size: 50px;
    padding: 30px;
}

#welcome {
    text-align: center;
    font-size: 30px;
    margin-top: 60px;

}